<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <!--输出到控制台-->
    <target name="console" xsi:type="Console" maxArchiveFiles="30" encoding="utf-8"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="104857600"
            archiveNumbering="Sequence"
            layout="${date:yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}}： ${message}" />
    <!--保存至文件-->
    <target name="file" xsi:type="File" maxArchiveFiles="30"  encoding="utf-8"
            fileName="${basedir}/logs/Info.${date:yyyy-MM-dd}.txt"
            archiveFileName="${basedir}/logs/Info.${date:yyyyMMdd}.{#}.txt"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="104857600"
            archiveNumbering="Sequence"
            layout="${date:yyyy-MM-dd HH\:mm\:ss}： ${message}" />
    <!--Error保存至文件-->
    <target name="error_file" xsi:type="File" maxArchiveFiles="30"  encoding="utf-8"
            fileName="${basedir}/logs/Error.${date:yyyy-MM-dd}.txt"
            archiveFileName="${basedir}/logs/Error.${date:yyyy-MM-dd}.{#}.txt"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="104857600"
            archiveNumbering="Sequence"
            layout="${date:yyyy-MM-dd HH\:mm\:ss}： ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" />
    <!--配置Sql Server-->
    <target name="database" xsi:type="Database"
            dbProvider="System.Data.SqlClient.SqlConnection,System.Data.SqlClient"
            connectionString="Data Source=localhost;Initial Catalog=数据库名;Persist Security Info=True;User ID=账户;Password=密码"
            commandText="insert into NLog (Application, Logged, Level, Message,Logger, CallSite, Exception) values (@Application, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);">
      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here 
    log level: Trace Debug Info Warn Error 
            -->
    <!--<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="console" />-->
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="file" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error_file" />
    <!--配置Sql Server
    <logger name="*" minlevel="Info" writeTo="database" />-->
  </rules>
</nlog>